body {
  margin: 0;
  background-image: url("{{ static_url("grey.png") }}");
  background-attachment: fixed;
}
#center {
  width: 60%;
  margin: auto;
  min-height: 100%;
  box-shadow: 0 0 10px 0px black;
  background-color: #FFFFFF;
  padding: 20px;
}
#console {
  height: 60%;
  min-height: 100px;
  overflow-y: auto;
}
#consolespan {
  display: block;
}
#consolebox {
  width: 100%;
}
