[Unit]
Description=Website to run minecraft servers

[Service]
Type=simple
WorkingDirectory=/usr/local/serverwrapper
ExecStart=/usr/bin/python3.6 /usr/local/serverwrapper/Website.py

[Install]
WantedBy=multi-user.target
