[Unit]
Description=Website to run minecraft servers

[Service]
Type=simple
ExecStart=/usr/bin/python /usr/local/serverwrapper/Website.py

[Install]
WantedBy=multi-user.target
